# Credit Risk Ensemble Learning Techniques

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier
from imblearn.metrics import classification_report_imbalanced

### Read the CSV and Perform Basic Data Cleaning

In [8]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [9]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [10]:
# Create the training variables by converting the string values into numerical ones using the get_dummies() method.
encode_df = pd.get_dummies(df, columns=["home_ownership", 
                                        "verification_status",
                                        "issue_d",
                                        "pymnt_plan",
                                        "hardship_flag",
                                        "debt_settlement_flag",
                                        "initial_list_status",
                                        "next_pymnt_d",
                                        "application_type"
                                       ])

encode_df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,1,1,0,1,0,1,1,0
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,1,1,0,1,0,1,1,0
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,1,1,0,1,0,1,1,0
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,1,1,0,1,0,1,1,0
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,1,1,0,1,0,1,1,0

## Split the Data into Training and Testing

In [11]:
# Create features
X = encode_df.copy()
X = X.drop("loan_status", axis=1)

X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,1,1,0,1,0,1,1,0
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,1,1,0,1,0,1,1,0
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,1,1,0,1,0,1,1,0
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,1,1,0,1,0,1,1,0
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,1,1,0,1,0,1,1,0

In [12]:
# Create target
y = encode_df["loan_status"]

In [13]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,1.0,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.0,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
# Check the balance of target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [15]:
# Establish initial training and testing variables
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

Counter(y_train)

Counter({'low_risk': 51352, 'high_risk': 260})

## Ensemble Learners

Note: Used a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [16]:
# Resample the training data with the BalancedRandomForestClassifier
brf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 

# Fit the model
brf_model = brf_model.fit(X_train, y_train)

# Make predictions using the testing data.
y_pred = brf_model.predict(X_test)

In [17]:
# Calculate the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.7835541132343047

In [18]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   59,    28],
       [ 1901, 15217]], dtype=int64)

In [19]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.68      0.89      0.06      0.78      0.59        87
   low_risk       1.00      0.89      0.68      0.94      0.78      0.62     17118

avg / total       0.99      0.89      0.68      0.94      0.78      0.62     17205

In [21]:
# List the features sorted in descending order by feature importance
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.06960644414860838, 'total_rec_prncp'),
 (0.06699503615040067, 'total_pymnt'),
 (0.06213990295327954, 'last_pymnt_amnt'),
 (0.05703694960378033, 'total_pymnt_inv'),
 (0.052270035291436354, 'total_rec_int'),
 (0.025355289144477468, 'int_rate'),
 (0.019247877968571785, 'issue_d_Jan-2019'),
 (0.01817900907731312, 'max_bal_bc'),
 (0.017524409701876367, 'out_prncp_inv'),
 (0.016359227494961763, 'installment'),
 (0.01632771758647055, 'dti'),
 (0.015972739451199248, 'mo_sin_old_il_acct'),
 (0.015434210329092524, 'mths_since_recent_inq'),
 (0.01538345741149803, 'mths_since_rcnt_il'),
 (0.015245724461394786, 'annual_inc'),
 (0.015167606539366274, 'il_util'),
 (0.014690968526685161, 'out_prncp'),
 (0.01456637299632499, 'mo_sin_old_rev_tl_op'),
 (0.013731232681265318, 'total_rev_hi_lim'),
 (0.013650967422793616, 'bc_util'),
 (0.013616891854776984, 'avg_cur_bal'),
 (0.013248779331435956, 'tot_cur_bal'),
 (0.01321976557126906, 'mths_since_recent_bc'),
 (0.013119073989661252, 'bc_open_to_buy'),
 (0.013099060998813663, 'total_bc_limit'),
 (0.012898690328231996, 'revol_bal'),
 (0.01286771950025326, 'loan_amnt'),
 (0.01275513007857289, 'tot_hi_cred_lim'),
 (0.012724456278631759, 'total_bal_ex_mort'),
 (0.012603923951939685, 'total_bal_il'),
 (0.011658629318799912, 'total_il_high_credit_limit'),
 (0.011658109025548117, 'num_actv_rev_tl'),
 (0.01141008750846616, 'issue_d_Mar-2019'),
 (0.011070976843654165, 'mo_sin_rcnt_rev_tl_op'),
 (0.010910230365127931, 'open_acc'),
 (0.01089799881927544, 'inq_last_12m'),
 (0.01077777048494109, 'num_rev_accts'),
 (0.010558414503221137, 'all_util'),
 (0.010375163760979219, 'num_rev_tl_bal_gt_0'),
 (0.00987659890368516, 'num_il_tl'),
 (0.009662118380528252, 'num_sats'),
 (0.009464107311767446, 'mo_sin_rcnt_tl'),
 (0.00938321738760733, 'total_acc'),
 (0.009013275908550883, 'total_cu_tl'),
 (0.008471324929605357, 'open_il_24m'),
 (0.008426261104783476, 'open_rv_24m'),
 (0.00839227356018613, 'pct_tl_nvr_dlq'),
 (0.008198483025563452, 'acc_open_past_24mths'),
 (0.007855874855730331, 'num_bc_tl'),
 (0.007640992716692139, 'num_actv_bc_tl'),
 (0.007600976743510987, 'num_op_rev_tl'),
 (0.0072417201744537805, 'num_tl_op_past_12m'),
 (0.006762848584086985, 'mort_acc'),
 (0.006473614854860952, 'next_pymnt_d_May-2019'),
 (0.00634421188647261, 'percent_bc_gt_75'),
 (0.00631732390385656, 'num_bc_sats'),
 (0.006012081883169714, 'inq_last_6mths'),
 (0.005869785420226893, 'issue_d_Feb-2019'),
 (0.005800718278526379, 'open_act_il'),
 (0.005455271198423171, 'total_rec_late_fee'),
 (0.005452290164755318, 'inq_fi'),
 (0.005042843864228602, 'delinq_2yrs'),
 (0.004942917914485815, 'open_rv_12m'),
 (0.004580634580238546, 'tot_coll_amt'),
 (0.004364154342811426, 'open_il_12m'),
 (0.00426452840963597, 'open_acc_6m'),
 (0.002943521415682614, 'verification_status_Verified'),
 (0.00244789071538727, 'next_pymnt_d_Apr-2019'),
 (0.002111978609196559, 'num_accts_ever_120_pd'),
 (0.0020992168402778595, 'home_ownership_RENT'),
 (0.002000606278433356, 'home_ownership_OWN'),
 (0.0018978999121854398, 'pub_rec'),
 (0.0018343859386861572, 'verification_status_Source Verified'),
 (0.0017238204110689812, 'application_type_Individual'),
 (0.0016736866149345978, 'home_ownership_MORTGAGE'),
 (0.001564387391411819, 'initial_list_status_f'),
 (0.0015002336367201006, 'application_type_Joint App'),
 (0.0014871586278881294, 'verification_status_Not Verified'),
 (0.0012086504408845577, 'pub_rec_bankruptcies'),
 (0.0009757871982391704, 'num_tl_90g_dpd_24m'),
 (0.0009623257213384048, 'initial_list_status_w'),
 (0.0001180667242352515, 'collections_12_mths_ex_med'),
 (0.00011238552039449738, 'home_ownership_ANY'),
 (7.149626019562056e-05, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [22]:
# Resample the training data with the EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators=100, random_state=1) 

# Fit the model
ee_model = ee_model.fit(X_train, y_train)

# Make predictions using the testing data.
y_pred = ee_model.predict(X_test)

In [23]:
# Calculate the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.9250476409184122

In [24]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   79,     8],
       [  992, 16126]], dtype=int64)

In [25]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.92      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.92      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.92      0.86     17205